<div class="bg-white rounded">
  <main class="p-3 d-flex justify-content-between">
    <p>
      <span class="text-info">DATE:</span>
      <%= l arrow.created_at, format: :short %>
    </p>
    <%= user_avatar arrow.from_user, class: 'small-avatar avatar-img rounded-circle' %>
  </main>
  <footer>
    <div class="accordion accordion-flush" id="<%= "arrowAccordion-#{dom_id(arrow)}" %>">
      <div class="accordion-item">
        <h2 class="accordion-header" id="<%= "arrowAccordionHeading-#{dom_id(arrow)}" %>">
          <button 
                class="accordion-button collapsed bg-warning" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#<%= "arrowCollapse-#{dom_id(arrow)}" %>" 
                aria-expanded="false" 
                aria-controls="<%= "arrowCollapse-#{dom_id(arrow)}" %>"
              >
            More details
          </button>
        </h2>
        <div 
              id="<%= "arrowCollapse-#{dom_id(arrow)}" %>" 
              class="accordion-collapse collapse" 
              aria-labelledby="<%= "arrowAccordionHeading-#{dom_id(arrow)}" %>" 
              data-bs-parent="#<%= "arrowAccordion-#{dom_id(arrow)}" %>"
            >
          <div class="accordion-body">
            <p>
              <span class="text-info">BY WHO:</span>
              <%= arrow.from_user.name %>
            </p>
            <div>
              <span class="text-info">WHY:</span>
              <p><%= arrow.content %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
