<header class="icalier-info p-5 bg-white rounded">
  <div class="d-flex">
    <%= user_avatar current_user, class: 'big-avatar avatar-img rounded-circle' %>
    <div class="ms-4">
      <h2><%= current_user.name %></h2>
      <h3 class="text-warning"><%= current_user.points %> points</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createArrowModal">
        Create arrow
      </button>
    </div>
  </div>
</header>
<section class="arrows-grid">
  <%# la vista no debe hacer queries, meter a scope %>
  <% current_user.received_arrows.order(created_at: :desc).each do |arrow| %>
    <div class="bg-white rounded">
      <main class="p-3 d-flex justify-content-between">
        <p>
          <span class="text-info">DATE:</span>
          <%= l arrow.created_at, format: :short %>
        </p>
        <%= user_avatar arrow.from_user, class: 'small-avatar avatar-img rounded-circle' %>
      </main>
      <footer>
        <div class="accordion accordion-flush" id="<%= "arrowAccordion-#{arrow.id}" %>">
          <div class="accordion-item">
            <h2 class="accordion-header" id="<%= "arrowAccordionHeading-#{arrow.id}" %>">
              <button 
                class="accordion-button collapsed bg-warning" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#<%= "arrowCollapse-#{arrow.id}" %>" 
                aria-expanded="false" 
                aria-controls="<%= "arrowCollapse-#{arrow.id}" %>"
              >
                More details
              </button>
            </h2>
            <div 
              id="<%= "arrowCollapse-#{arrow.id}" %>" 
              class="accordion-collapse collapse" 
              aria-labelledby="<%= "arrowAccordionHeading-#{arrow.id}" %>" 
              data-bs-parent="#<%= "arrowAccordion-#{arrow.id}" %>"
            >
              <div class="accordion-body">
                <p>
                  <span class="text-info">BY WHO:</span>
                  <%= arrow.from_user.name %>
                </p>
                <div>
                  <span class="text-info">WHY:</span>
                  <p><%= arrow.content %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  <% end %>
</section>

<!-- Modal -->
<div class="modal fade" id="createArrowModal" tabindex="-1" aria-labelledby="createArrowModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createArrowModalLabel">Create arrow</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model: current_user.sent_arrows.build do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :to_user_id, 'For who?' , class: 'form-label' %>
            <%# No queries en la vista, igual falta descartar al current user %>
            <%= f.collection_select :to_user_id, User.all, :id, :name,
                                  { :prompt => 'Please select an icalier'}, 
                                  class: 'form-control' %>
          </div>
          <div class="form-group mt-2">
            <%= f.label :content, 'Reason' , class: 'form-label' %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Create" , class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
