<header class="icalier-info p-5 bg-white rounded">
  <div class="d-flex">
    <%= user_avatar current_user, class: 'big-avatar avatar-img rounded-circle' %>
    <div class="ms-4">
      <h2><%= current_user.name %></h2>
      <h3 class="text-warning"><%= current_user.points %> points</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createArrowModal">
        Create arrow
      </button>
    </div>
  </div>
</header>
<section class="arrows-grid">
  <%= render partial: "arrows/arrows/arrow", collection: @received_arrows %>
</section>
<%= render partial: "arrows/arrows/form_modal", locals: { model: current_user.sent_arrows.build } %>

