<!DOCTYPE html>
<html>
  <head>
    <title>ArrowChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="h-100 vibrant-background">
    <main class="container h-100">
      <div class="row h-100">
        <div class="col-6 d-flex justify-content-center align-items-center white-background">
          <section class="">
            <% if notice.present? %>
              <p class="notice"><%= notice %></p>
            <% end %>
            <% if alert.present? %>
              <p class="alert"><%= alert %></p>
            <%end%>
            <%= yield %>
          </section>
        </div>
        <span class="col-6"></span>
      </div>
    </main>
  </body>
</html>
